<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/styles.css">
  <title>Habilidades - Adrián Sobrevela</title>
</head>
<body>

<header>
  <img src="../images/adrian_foto.jpeg" alt="Tu Imagen de Perfil">
  <h1>Adrián Sobrevela</h1>
  <p>Analista de Datos | Desarrollador Web | Apasionado por la Tecnología</p>
  <nav>
    <ul>
      <li><a href="../index.html">Inicio</a></li>
      <li><a href="experiencia.html">Experiencia</a></li>
      <li><a href="educacion.html">Educación</a></li>
      <li><a href="habilidades.html">Habilidades</a></li>
      <li><a href="proyectos.html">Proyectos</a></li>
    </ul>
  </nav>
</header>

<section class="bio">
  <h2>Habilidades</h2>
  <div class="skills">
    <h3>Habilidades Técnicas</h3>
    <ul>
      <li>Lenguajes de Programación: Python, Java, SQL</li>
      <li>Herramientas de Análisis de Datos: Pandas, NumPy, Scikit-Learn</li>
      <li>Desarrollo Web: HTML, CSS, JavaScript, React</li>
    </ul>

    <h3>Habilidades Blandas</h3>
    <ul>
      <li>Comunicación efectiva</li>
      <li>Trabajo en equipo</li>
      <li>Resolución de problemas</li>
    </ul>
  </div>
</section>

<section class="redes-sociales">
  <h2>Conéctate conmigo</h2>
  <ul>
    <li><a href="https://www.linkedin.com/in/adrian-sobrevela-datanalyst-analistadedatos" target="_blank">LinkedIn</a></li>
    <li><a href="https://twitter.com/tu-usuario" target="_blank">Twitter</a></li>
  </ul>
</section>

<footer>
  <p>&copy; 2024 Adrián Sobrevela</p>
</footer>

</body>
</html>
