<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/styles.css">
  <title>Proyectos - Adrián Sobrevela</title>
</head>
<body>

<header>
  <img src="../images/adrian_foto.jpeg" alt="Tu Imagen de Perfil">
  <h1>Adrián Sobrevela</h1>
  <p>Analista de Datos | Desarrollador Web | Apasionado por la Tecnología</p>
  <nav>
    <ul>
      <li><a href="../index.html">Inicio</a></li>
      <li><a href="experiencia.html">Experiencia</a></li>
      <li><a href="educacion.html">Educación</a></li>
      <li><a href="habilidades.html">Habilidades</a></li>
      <li><a href="proyectos.html">Proyectos</a></li>
    </ul>
  </nav>
</header>

<section class="bio">
  <h2>Proyectos</h2>
  <div class="projects">
    <h3>Proyecto 1: Análisis de Datos de Ventas</h3>
    <p>Descripción del proyecto, herramientas utilizadas y resultados obtenidos.</p>

    <h3>Proyecto 2: Desarrollo de una Aplicación Web</h3>
    <p>Descripción del proyecto, tecnologías empleadas y funcionalidades implementadas.</p>

    <h3>Proyecto 3: Modelo de Predicción de Usuarios</h3>
    <p>Descripción del proyecto, algoritmos utilizados y precisión del modelo.</p>
  </div>
</section>

<section class="redes-sociales">
  <h2>Conéctate conmigo</h2>
  <ul>
    <li><a href="https://www.linkedin.com/in/adrian-sobrevela-datanalyst-analistadedatos" target="_blank">LinkedIn</a></li>
    <li><a href="https://twitter.com/tu-usuario" target="_blank">Twitter</a></li>
  </ul>
</section>

<footer>
  <p>&copy; 2024 Adrián Sobrevela</p>
</footer>

</body>
</html>
